<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5" xmlns="http://java.sun.com/xml/ns/javaee">

	<!-- Servlets -->
	<servlet>
		<servlet-name>greetServlet</servlet-name>
		<servlet-class>com.pt.pok.server.GreetingServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>greetServlet</servlet-name>
		<url-pattern>/disconnection/greet</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>DisconnectionServlet</servlet-name>
		<servlet-class>com.pt.pok.server.DisconnectionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DisconnectionServlet</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>


	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>Disconnection.html</welcome-file>
	</welcome-file-list>

</web-app>
